._*
*.iml
server/node_modules
server/knexfile.js
server/config.json
server/knex
server/playground.js
.idea
server/favicon.ico
client/bower_components
client/build
client/media
client/node_modules
client/working
client/config.json
npm-debug.log
.hgignore
.hg
playground
working