@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "addons/no-select";

/*
 * Variables
 */


/*
 * Mixins
 */
@mixin border-radius($n) {
  -webkit-border-radius: $n;
  -moz-border-radius: $n;
  -ms-border-radius: $n;
  border-radius: $n;
}

/*
 * General styles
 */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #D2EDFF;
  color: #222;
  font-size: 100%;
}

/*
 * Property styles
 */
.no-margin {
  margin: 0;
}

.container {
  @include clearfix;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.no-select {
  @include no-select;
}

.rounded {
  @include border-radius(0.25 em);
}


/*
 * Page layout styles
 */
#content {
  width: 100%;
}

#header {
  background-color: $contrast-background-color;
  color: $contrast-font-color;
  padding: 0.3em;
  h2 {
    font-size: $nav-font-size;
    line-height: $base-line-height;
    a {
      color: $contrast-font-color;
    }
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
    margin-right: 0.1em;
  }
}

// Navigation styles
.nav-menu {
  position: relative;
  ul {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
  }
  li {
    float: left;
    margin: 0 0 0 0.5em;
    list-style: none;
    display: inline-block;
  }
}

.nav-menu-content {
  @extend .rounded;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 2.5em;
  background-color: $base_background-color;
  padding: 0.5em;
  transition: background-color $base-duration $base-timing;
  width: 10em;
  box-shadow: 0 0 $base-shadow-blur $base-shadow-spread $base-shadow-color;

  ul {
    position: relative;
  }

  li {
    position: relative;
    margin: 0;
    float: none;
    display: block;
    font-weight: 600;

    &:hover {
      background-color: $action-color;
      a {
        color: $contrast-font-color;
      }
    }
  }

  a, a:visited {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    color: $action-color;
  }
}

#footer {
  width: 100%;
  clear: both;
}

// Register
div.register-box {
  @include outer-container(35em);
  @include pad(1em);

  h2 {
    font-size: 1.5em;
    text-align: center;
  }

  label span.error {
    @include media(em(420)) {
      display: inline;
      clear: none;
      float: right;
    }
  }
}


// Board style
div.board {
  width: 100%;
}

div.list {
  width: 24.25%;
  float: left;
  background-color: #43a9e1;
  padding: 0.5em 0.5em 0 0.5em;
  margin-left: 0.6%;
  h2 {
    margin-bottom: 0.5em;
  }
}

div.task {
  @extend .no-select;
  @extend .rounded;
  width: 100%;
  background-color: #d9f8fa;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
