@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "addons/no-select";
@import "footer";
@import "addons/word-wrap";

/*
 * Variables
 */


/*
 * Mixins
 */
@mixin border-radius($n) {
  -webkit-border-radius: $n;
  -moz-border-radius: $n;
  -ms-border-radius: $n;
  border-radius: $n;
}

/*
 * General styles
 */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $base-background-color;
  color: #222;
  font-size: 100%;
}

/*
 * Property styles
 */
.no-margin {
  margin: 0;
}

.container {
  @include clearfix;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.no-select {
  @extend %no-select;
}

.rounded {
  @include border-radius($base-border-radius);
}


/*
 * Page layout styles
 */
#content {
  width: 100%;
}

#header {
  background-color: $contrast-background-color;
  color: $contrast-font-color;
  padding: 0.3em;
  h2 {
    font-size: $nav-font-size;
    line-height: $base-line-height;
    a {
      color: $contrast-font-color;
    }
  }
  .header-left {
    float: left;
  }
  .header-right {
    float: right;
    margin-right: 0.1em;
  }
}

// Navigation styles
.nav-menu {
  position: relative;
  ul {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
  }
  li {
    float: left;
    margin: 0 0 0 0.5em;
    list-style: none;
    display: inline-block;
  }
}

.nav-menu-content {
  @extend .rounded;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 2.5em;
  background-color: $base_background-color;
  padding: 0.5em;
  transition: background-color $base-duration $base-timing;
  width: 10em;
  box-shadow: 0 0 $base-shadow-blur $base-shadow-spread $base-shadow-color;

  ul {
    position: relative;
  }

  li {
    position: relative;
    margin: 0;
    float: none;
    display: block;
    font-weight: 600;

    &:hover {
      background-color: $action-color;
      a {
        color: $contrast-font-color;
      }
    }
  }

  a, a:visited {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    color: $action-color;
  }
}

#footer {
  width: 100%;
  clear: both;
}

// Forms
div.form-page {
  @include outer-container(35em);
  @include pad(1em);

  h2 {
    font-size: 1.5em;
    text-align: center;
  }

  label span.error {
    @include media(em(420)) {
      display: inline;
      clear: none;
      float: right;
    }
  }

  .form-item p.error {
    float: right;
    display: inline-block;
    color: $error-font-color;
  }
}


// Board style
div.board {
  @include clearfix;
  width: 100%;
  margin-top: 0.5em;
}

div.list {
  @include clearfix;
  @include border-top-radius($base-border-radius);
  width: 24.25%;
  float: left;
  background-color: $blue-grey;
  padding: 0;
  margin-left: 0.6%;

  input[type='button'], input[type='submit'] {
    padding: 0.25em;
  }

  input[type="button"].create {
    width: em(25px);
    height: em(25px);
    background: $action-color url("/media/images/create.png") no-repeat;
    background-size: cover;
  }
}

.list-top {
  padding: 0.5em;
  @include clearfix;
  h2 {
    display: inline-block;
    font-size: 1.2em;
    float: left;
    line-height: 1.3;
  }
}

.list-bottom {
  @include clearfix;
  background-color: $near-white;
  padding: 0.3em 0.3em 0 0.3em;
  overflow-y: auto;
}

.list-cap {
  @include border-bottom-radius($base-border-radius);
  @include clearfix;
  background-color: $near-white;
  padding: 0.2em;
}

.list-tasks .task {
  background-color: $list-task-color;
}

.list-tomorrow .task {
  background-color: $list-tomorrow-color;
}

.list-today .task {
  background-color: $list-today-color;
}

.list-done .task {
  background-color: $list-done-color;
}

div.task {
  @extend %white-space-pre-wrap;
  @extend .no-select;
  @extend .rounded;
  @include clearfix;
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  label {
    float: left;
    font-size: 1em;
  }

  span.error {
    float: right;
    color: $error-font-color;
    font-size: 0.7em;
  }
}