@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "addons/no-select";

/*
 * Variables
 */


/*
 * Mixins
 */
@mixin border-radius($n) {
  -webkit-border-radius: $n;
  -moz-border-radius: $n;
  -ms-border-radius: $n;
  border-radius: $n;
}

/*
 * General styles
 */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #D2EDFF;
  color: #222;
  font-size: 100%;
}

/*
 * Property styles
 */
.no-margin {
  margin: 0;
}

.container {
  @include clearfix;
}

.block {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.visible {
  display: inherit;
}

.hidden {
  display: none;
}

.no-select {
  @include no-select;
}

.rounded {
  @include border-radius(0.25 em);
}


/*
 * Page layout styles
 */
#content {
  width: 100%;
}

#header {
  background-color: $contrast-background-color;
  color: $contrast-font-color;
  padding: 0.3em;
  h2 {
    font-size: $nav-font-size;
    a {
      color: $contrast-font-color;
    }
  }
  .header-left {
    float: left;
    width: 15em;
  }
  .header-right {
    float: right;
    margin-right: 0.1em;
  }
}

// Navigation styles
.nav-menu {
  ul {
    float: left;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin: 0 0 0 0.5em;
    list-style: none;
  }
}

.click-menu:focus {
  pointer-events: none;
}

.click-menu:focus .click-menu-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.click-menu-content {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
}

#footer {
  width: 100%;
  clear: both;
}

// Board style
div.board {
  width: 100%;
}

div.list {
  width: 24.25%;
  float: left;
  background-color: #43a9e1;
  padding: 0.5em 0.5em 0 0.5em;
  margin-left: 0.6%;
  h2 {
    margin-bottom: 0.5em;
  }
}

div.task {
  @extend .no-select;
  @extend .rounded;
  width: 100%;
  background-color: #d9f8fa;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
