// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$nav-font-size: 1.8em;
$title-font-size: 1.5em;

// Font Weight
$bold-font-weight: 800;
$medium-font-weight: 600;

// Line height
$base-line-height: 1.2;
$heading-line-height: 1.1;

// Other Sizes
$base-border-radius: em(3);
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #4988ca;
$blue-grey: #c1cce8;
$bluer-grey: #d9f8fa;
$green: #64b05b;
$green-grey: #d6f8d8;
$yellow-grey: #fff9e6;
$near-black: #111;
$dark-gray: #333;
$medium-gray: #999;
$medium-light-gray: #AAA;
$light-gray: #ddd;
$white-grey: #EEE;
$near-white: #fefefe;
$red: #ff3a41;
$purple: #b26cce;
$orange: #ffb234;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$secondary-action-color: $green;
$contrast-font-color: $near-white;
$error-font-color: $red;
$background-font-color: $medium-light-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$error-border: 1px solid $red;

// Background Colors
$base-background-color: $white-grey;
$secondary-background-color: tint($base-border-color, 75%);
$field-background-color: $near-white;
$contrast-background-color: $near-black;
$secondary-contrast-background-color: tint($contrast-background-color, 75%);
$negative-background-color: tint($red, 30%);
$positive-background-color: tint($green, 15%);
$error-background: tint($red, 95%);
$list-background-color: $blue-grey;
$list-task-color: $bluer-grey;
$list-tomorrow-color: $green-grey;
$list-today-color: $yellow-grey;
$list-done-color: $white-grey;
$temporary-background-color: $purple;
$shade-background-color: $light-gray;
$age-final-background: tint($purple, 50%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Shadows
$base-shadow-color: $near-black;
$base-shadow-blur: 1em;
$base-shadow-spread: 0;

// List
$list-width: 20em;